---
version: "2"
services:
  web:
    image: linuxserver/letsencrypt
    container_name: nginx-autoletsencrypt
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - SUBDOMAINS=
      - VALIDATION=http
      - DHLEVEL=2048
      - ONLY_SUBDOMAINS=false
      - STAGING=false
      - URL=$SERVER_FQDN
      - EMAIL=$EMAIL
      - EXTRA_DOMAINS=$SSL_DOMAINS
    volumes:
      - /home/podman/data/nginx-autoletsencrypt/:/config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped
